.bill-banner-section {
    position: relative;
    .banner-carousel {
        position: relative;
        .slide-item {
            position: relative;
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            padding: 250px 0 200px;
            text-align: center;
            &:before {
                position: absolute;
                left: 0;
                top: 0;
                height: 100%;
                width: 100%;
                background-color: rgb(0, 0, 0);
                opacity: .70;
                content: "";
            }
            .auto-container {
                position: static;
                max-width: 1200px;
                padding: 0px 15px;
                margin: 0 auto;
                .content-box {
                    position: relative;
                    .title {
                        display: block;
                        font-size: 28px;
                        color: rgb(250, 172, 29);
                        font-weight: 500;
                        margin-bottom: 25px;
                        opacity: 0;
                        -webkit-transform: translateY(100px);
                        -moz-transform: translateY(100px);
                        -ms-transform: translateY(100px);
                        -o-transform: translateY(100px);
                        transform: translateY(100px);
                        -webkit-transition: all 500ms ease;
                        -moz-transition: all 500ms ease;
                        -ms-transition: all 500ms ease;
                        -o-transition: all 500ms ease;
                        transition: all 500ms ease;
                    }
                    h2 {
                        display: block;
                        font-size: 74px;
                        line-height: 1.2em;
                        color: rgb(255, 255, 255);
                        font-weight: 700;
                        margin-bottom: 30px;
                        opacity: 0;
                        -webkit-transform: translateY(100px);
                        -moz-transform: translateY(100px);
                        -ms-transform: translateY(100px);
                        -o-transform: translateY(100px);
                        transform: translateY(100px);
                        -webkit-transition: all 500ms ease;
                        -moz-transition: all 500ms ease;
                        -ms-transition: all 500ms ease;
                        -o-transition: all 500ms ease;
                        transition: all 500ms ease;
                    }
                    .info-list {
                        position: relative;
                        margin-bottom: 45px;
                        opacity: 0;
                        -webkit-transform: translateY(100px);
                        -moz-transform: translateY(100px);
                        -ms-transform: translateY(100px);
                        -o-transform: translateY(100px);
                        transform: translateY(100px);
                        -webkit-transition: all 500ms ease;
                        -moz-transition: all 500ms ease;
                        -ms-transition: all 500ms ease;
                        -o-transition: all 500ms ease;
                        transition: all 500ms ease;
                        li {
                            position: relative;
                            display: inline-block;
                            font-size: 18px;
                            line-height: 26px;
                            color: rgb(255, 255, 255);
                            font-weight: 400;
                            margin: 0 10px;
                            text-transform: uppercase;
                            .icon {
                                color: rgb(250, 172, 29);
                                margin-right: 10px;
                                float: left;
                                font-size: 18px;
                                line-height: 26px;
                            }
                        }
                    }
                    .btn-box {
                        opacity: 0;
                        -webkit-transform: translateY(100px);
                        -moz-transform: translateY(100px);
                        -ms-transform: translateY(100px);
                        -o-transform: translateY(100px);
                        transform: translateY(100px);
                        -webkit-transition: all 500ms ease;
                        -moz-transition: all 500ms ease;
                        -ms-transition: all 500ms ease;
                        -o-transition: all 500ms ease;
                        transition: all 500ms ease;
                        &:hover {
                            position: relative;
                            padding: 8px 13px;
                            font-size: 13px;
                            line-height: 20px;
                            font-weight: 400;
                            text-align: center;
                            overflow: hidden;
                            border-radius: 10px;
                        }
                        &:before {
                            position: absolute;
                            left: 0;
                            top: 0;
                            height: 100%;
                            width: 100%;
                            content: "";
                            background-color: rgb(255, 255, 255);
                            -webkit-transform: scale(0, 1);
                            -ms-transform: scale(0, 1);
                            transform: scale(0, 1);
                            -webkit-transform-origin: top right;
                            -ms-transform-origin: top right;
                            transform-origin: top right;
                            -webkit-transition: transform 500ms cubic-bezier(0.860, 0.000, 0.070, 1.000);
                            -moz-transition: transform 500ms cubic-bezier(0.860, 0.000, 0.070, 1.000);
                            -o-transition: transform 500ms cubic-bezier(0.860, 0.000, 0.070, 1.000);
                            transition: transform 500ms cubic-bezier(0.860, 0.000, 0.070, 1.000);
                            -webkit-transition-timing-function: cubic-bezier(0.860, 0.000, 0.070, 1.000);
                            -moz-transition-timing-function: cubic-bezier(0.860, 0.000, 0.070, 1.000);
                            -o-transition-timing-function: cubic-bezier(0.860, 0.000, 0.070, 1.000);
                            transition-timing-function: cubic-bezier(0.860, 0.000, 0.070, 1.000);
                        }
                        a {
                            text-decoration: none;
                            cursor: pointer;
                            color: rgb(242, 4, 135);
                            .theme-btn {
                                position: relative;
                                transition: all 300ms ease;
                                display: inline-block;
                                -webkit-transition: all 0.3s ease;
                                -moz-transition: all 0.3s ease;
                                -ms-transition: all 0.3s ease;
                                -o-transition: all 0.3s ease;
                            }
                        }

                    }
                }
            }
        }
    }
}
