.bil-clients-section{
    position: relative;
    padding: 120px 0 90px;
    &:before {
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        background-image: url(../images/icons/icon-dots-2.png);
        content: "";
        opacity: .02;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        -webkit-transform: scale(-1);
        -moz-transform: scale(-1);
        -ms-transform: scale(-1);
        -o-transform: scale(-1);
        transform: scale(-1);
    }
    .anim-icons {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        height: 100%;
        width: 100%;
        max-width: 1170px;
        margin: 0 auto;
        .icon {
            position: absolute;
            background-position: center;
            background-repeat: no-repeat;
        }
        .icon-dots-3 {
            left: -60px;
            top: 230px;
            width: 204px;
            height: 114px;
            background-image: url(../images/icons/icon-dots-3.png);
        }
        .icon-circle-blue {
            left: -370px;
            top: 500px;
            opacity: .50;
            -webkit-animation: fa-spin 30s infinite alternate;
            -moz-animation: fa-spin 30s infinite alternate;
            -ms-animation: fa-spin 30s infinite alternate;
            -o-animation: fa-spin 30s infinite alternate;
            animation: fa-spin 30s infinite alternate;
            width: 300px;
            height: 300px;
            background-image: url(../images/icons/circle-blue.png);
        }
    }
    .auto-container {
        position: static;
        max-width: 1200px;
        padding: 0px 15px;
        margin: 0 auto;
        .sec-title {
            position: relative;
            margin-bottom: 70px;
            .title {
                position: relative;
                display: block;
                font-size: 16px;
                line-height: 1em;
                color: rgb(255, 138, 1);
                font-weight: 500;
                background: rgb(247,0,104);
                background: -moz-linear-gradient(to left, rgba(247,0,104,1) 0%, rgba(68,16,102,1) 25%, rgba(247,0,104,1) 75%, rgba(68,16,102,1) 100%);
                background: -webkit-linear-gradient(to left, rgba(247,0,104,1) 0%,rgba(68,16,102,1) 25%,rgba(247,0,104,1) 75%,rgba(68,16,102,1) 100%);
                background: linear-gradient(to left, rgba(247,0,104) 0%,rgb(68, 16, 102) 25%,rgb(247, 0, 104) 75%,rgb(68, 16, 102) 100%);
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#F70068', endColorstr='#441066',GradientType=1 );
                color: rgba(0, 0, 0, 0);
                -webkit-background-clip: text;
                -webkit-text-fill-color: rgba(0, 0, 0, 0);
                text-transform: uppercase;
                letter-spacing: 5px;
                margin-bottom: 15px;
            }
            h2 {
                position: relative;
                display: inline-block;
                font-size: 48px;
                line-height: 1.2em;
                color: rgb(30, 31, 54);
                font-weight: 700;
            }
        }
        .sponsors-outer {
            position: relative;
            margin-bottom: 50px;
            h3 {
                display: inline-block;
                font-size: 20px;
                line-height: 1.2em;
                background-color: rgb(236, 22, 127);
                color: rgb(255, 255, 255);
                padding: 10px 30px;
                font-weight: 700;
                margin-bottom: 20px;
                border-radius: 10px;
                &:nth-child(2) {
                    background-color: rgb(64, 203, 180);
                }
            }
            .row {
                display: -ms-flexbox;
                display: flex;
                -ms-flex-wrap: wrap;
                flex-wrap: wrap;
                margin-right: -15px;
                margin-left: -15px;
                .client-block {
                    position: relative;
                    margin-bottom: 30px;
                    figure {
                        margin: 0 0 1rem;
                    }
                    .image-box {
                        position: relative;
                        text-align: center;
                        margin-bottom: 0;
                        border: 1px solid rgb(221, 221, 221);
                        box-shadow: 0 0 30px rgba(0,0,0,0.10);
                        background-color: rgb(255, 255, 255);
                        -webkit-transition: all 300ms ease;
                        -moz-transition: all 300ms ease;
                        -ms-transition: all 300ms ease;
                        -o-transition: all 300ms ease;
                        transition: all 500ms ease;
                        img {
                            max-width: 50%;
                            width: auto;
                            display: inline-block;
                            opacity: 1;
                            -webkit-transition: all 300ms ease;
                            -moz-transition: all 300ms ease;
                            -ms-transition: all 300ms ease;
                            -o-transition: all 300ms ease;
                            transition: all 300ms ease;
                        }
                    }
                }
            }
        }
    }
}
