.bil-header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;

    .main-box {
        position: relative;
        padding: 10px 0;
        background-color: rgb(0, 123, 255) !important;
        -webkit-transition: all 300ms ease;
        -moz-transition: all 300ms ease;
        -ms-transition: all 300ms ease;
        -o-transition: all 300ms ease;
        transition: all 300ms ease;

        .auto-container {
            position: static;
            max-width: 1200px;
            padding: 0 15px;
            margin: 0 auto;

            .logo-box {
                position: relative;
                float: left;
                -webkit-transition: all 300ms ease;
                -moz-transition: all 300ms ease;
                -ms-transition: all 300ms ease;
                -o-transition: all 300ms ease;
                transition: all 300ms ease;

                .logo {
                    img {
                        display: inline-block;
                        max-width: 100%;
                        -webkit-transition: all 300ms ease;
                        -ms-transition: all 300ms ease;
                        -o-transition: all 300ms ease;
                        -moz-transition: all 300ms ease;
                        transition: all 300ms ease;
                    }
                }
            }

            .nav-outer {
                position: relative;
                float: right;
                -webkit-transition: all 600ms ease;
                -moz-transition: all 600ms ease;
                -ms-transition: all 600ms ease;
                -o-transition: all 600ms ease;
                transition: all 600ms ease;

                .mobile-nav-toggler {
                    position: relative;
                    float: right;
                    font-size: 40px;
                    line-height: 50px;
                    cursor: pointer;
                    color: rgb(225, 19, 123);
                    margin: 7px 0 2px;
                    display: none;
                }

                .main-menu {
                    position: static;
                    float: left;

                    .navigation {
                        position: static;
                        margin: 0;

                        li {
                            position: relative;
                            float: left;
                            margin-left: 45px;
                            -webkit-transition: all 300ms ease;
                            -moz-transition: all 300ms ease;
                            -ms-transition: all 300ms ease;
                            -o-transition: all 300ms ease;
                            transition: all 300ms ease;

                            a {
                                position: relative;
                                display: block;
                                font-size: 16px;
                                line-height: 30px;
                                font-weight: 500;
                                padding: 10px 0;
                                color: rgb(254, 254, 254);
                                opacity: 1;
                                text-align: center;
                                -webkit-transition: all 300ms ease;
                                -moz-transition: all 300ms ease;
                                -ms-transition: all 300ms ease;
                                -o-transition: all 300ms ease;
                                transition: all 300ms ease;

                                &:before {
                                    position: absolute;
                                    left: 50%;
                                    bottom: 10px;
                                    height: 2px;
                                    width: 0%;
                                    content: "";
                                    -webkit-transform: scale(-1);
                                    -moz-transform: scale(-1);
                                    -ms-transform: scale(-1);
                                    -o-transform: scale(-1);
                                    transform: scale(-1);
                                    background: rgb(247, 0, 104);
                                    background: -moz-linear-gradient(to left, rgba(247, 0, 104, 1) 0%, rgba(68, 16, 102, 1) 100%);
                                    background: -webkit-linear-gradient(to left, rgba(247, 0, 104, 1) 0%, rgba(68, 16, 102, 1) 100%);
                                    background: linear-gradient(to left, rgba(247, 0, 104) 0%, rgb(68, 16, 102) 100%);
                                    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F70068', endColorstr='#441066', GradientType=1);
                                    -webkit-transition: all 300ms ease;
                                    -moz-transition: all 300ms ease;
                                    -ms-transition: all 300ms ease;
                                    -o-transition: all 300ms ease;
                                    transition: all 300ms ease;
                                }
                            }

                        }
                    }
                }

                .outer-box {
                    position: relative;
                    float: right;
                    margin-left: 50px;
                    .search-box-outer {
                        position: relative;
                        float: left;
                        -webkit-transition: all 300ms ease;
                        -moz-transition: all 300ms ease;
                        -ms-transition: all 300ms ease;
                        -o-transition: all 300ms ease;
                        transition: all 300ms ease;
                        .search-box-btn {
                            position: relative;
                            float: left;
                            font-size: 24px;
                            line-height: 30px;
                            cursor: pointer;
                            background: none;
                            color: rgb(255, 255, 255);
                            font-weight: 400;
                            cursor: pointer;
                            margin-top: 10px;
                            -webkit-transition: all 300ms ease;
                            -moz-transition: all 300ms ease;
                            -ms-transition: all 300ms ease;
                            -o-transition: all 300ms ease;
                            transition: all 300ms ease;
                        }
                    }
                }
            }
        }
    }
}
