.bil-schedule-seaction {
    position: relative;
    padding: 120px 0 100px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: rgb(250, 250, 250);
    overflow: hidden;

    .anim-icons {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        height: 100%;
        width: 100%;
        max-width: 1170px;
        margin: 0 auto;

        .icon {
            position: absolute;
            background-position: center;
            background-repeat: no-repeat;

            .icon-circle-4 {
                right: -200px;
                bottom: 160px;
                height: 156px;
                width: 156px;
                background-image: url(../images/icons/icon-circle-4.png);
            }

            .zoomIn {
                -webkit-animation-name: zoomIn;
                animation-name: zoomIn;
            }

            .icon-circle-3 {
                left: -375px;
                top: 340px;
                opacity: .30;
                height: 360px;
                width: 360px;
                background-image: url(../images/icons/icon-circle-3.png);
                background-size: 100%;
            }
        }
    }

    .auto-container {
        position: static;
        max-width: 1200px;
        padding: 0px 15px;
        margin: 0 auto;

        .sec-title {
            position: relative;
            margin-bottom: 70px;

            .title {
                position: relative;
                display: block;
                font-size: 16px;
                line-height: 1em;
                color: rgb(255, 138, 1);
                font-weight: 500;
                background: rgb(247, 0, 104);
                background: -moz-linear-gradient(to left, rgba(247, 0, 104, 1) 0%, rgba(68, 16, 102, 1) 25%, rgba(247, 0, 104, 1) 75%, rgba(68, 16, 102, 1) 100%);
                background: -webkit-linear-gradient(to left, rgba(247, 0, 104, 1) 0%, rgba(68, 16, 102, 1) 25%, rgba(247, 0, 104, 1) 75%, rgba(68, 16, 102, 1) 100%);
                background: linear-gradient(to left, rgba(247, 0, 104) 0%, rgb(68, 16, 102) 25%, rgb(247, 0, 104) 75%, rgb(68, 16, 102) 100%);
                filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F70068', endColorstr='#441066', GradientType=1);
                color: rgba(0, 0, 0, 0);
                -webkit-background-clip: text;
                -webkit-text-fill-color: rgba(0, 0, 0, 0);
                text-transform: uppercase;
                letter-spacing: 5px;
                margin-bottom: 15px;
            }

            h2 {
                position: relative;
                display: inline-block;
                font-size: 48px;
                line-height: 1.2em;
                color: rgb(30, 31, 54);
                font-weight: 700;
            }
        }

        .schedule-tabs {
            position: relative;

            .btns-box {
                position: relative;
                display: block;
                margin-bottom: 40px;

                .tab-buttons {
                    position: relative;
                    text-align: center;

                    li {
                        position: relative;
                        display: inline-block;
                        height: 135px;
                        width: 160px;
                        border-radius: 20px;
                        background-color: rgb(255, 255, 255);
                        font-size: 16px;
                        line-height: 20px;
                        color: rgb(34, 34, 34);
                        font-weight: 600;
                        text-align: left;
                        padding: 15px 15px;
                        cursor: pointer;
                        margin: 0 15px 20px;
                        border: 1px solid rgb(221, 221, 221);
                        -webkit-transition: all 300ms ease;
                        -moz-transition: all 300ms ease;
                        -ms-transition: all 300ms ease;
                        -o-transition: all 300ms ease;
                        transition: all 300ms ease;

                        .active-btn {
                            box-shadow: 0 0 30px rgba(255, 194, 11, .30);
                            border: 1px solid rgb(255, 194, 11);
                        }

                        .day {
                            position: absolute;
                            left: 0;
                            top: 30px;
                            padding: 5px 20px;
                            background-color: rgb(255, 194, 11);
                            font-size: 14px;
                            line-height: 20px;
                            font-weight: 600;
                            color: rgb(255, 255, 255);
                            border-radius: 0 15px 15px 0;
                        }

                        .date {
                            position: absolute;
                            left: -0;
                            top: 80px;
                            width: 100px;
                            text-align: center;
                            font-size: 38px;
                            line-height: 20px;
                            font-weight: 600;
                            color: rgb(255, 194, 11);
                        }

                        .month {
                            display: block;
                            font-size: 20px;
                            line-height: 1em;
                            font-weight: 600;
                            color: rgb(255, 194, 11);
                            text-transform: uppercase;
                        }
                    }
                }
            }

            .tabs-content {
                .tab {
                    .active-tab {
                        display: block;

                        .schedule-timeline {
                            position: relative;

                            .schedule-block {
                                position: relative;
                                margin-bottom: 30px;

                                :after {
                                    display: table;
                                    clear: both;
                                    content: "";
                                }

                                .inner-box {
                                    position: relative;
                                    float: right;
                                    width: 50%;
                                    text-align: left;

                                    .inner {
                                        position: relative;
                                        padding: 20px 30px 20px;
                                        background-color: rgb(255, 255, 255);
                                        border: 1px solid rgb(221, 221, 221);
                                        box-shadow: 0 0 30px rgba(0, 0, 0, 0.05);
                                        margin-left: 80px;
                                        border-radius: 20px;

                                        &:before {
                                            position: absolute;
                                            top: 0;
                                            bottom: -30px;
                                            right: 100%;
                                            border-left: 2px dashed rgb(221, 221, 221);
                                            content: "";
                                            margin-right: 80px;
                                        }

                                        .date {
                                            position: absolute;
                                            left: -132px;
                                            width: 100px;
                                            top: 0;
                                            height: 100px;
                                            background-color: rgb(255, 255, 255);
                                            text-align: center;
                                            font-size: 14px;
                                            line-height: 18px;
                                            color: rgb(33, 38, 57);
                                            font-weight: 500;
                                            padding: 30px 15px 0;
                                            border-radius: 50%;
                                            border: 2px dashed rgb(221, 221, 221);
                                            box-shadow: 0 0 30px rgba(0, 0, 0, 0.05);
                                        }

                                        .speaker-info {
                                            position: relative;
                                            padding-left: 80px;
                                            padding-top: 10px;
                                            min-height: 60px;

                                            .thumb {
                                                position: absolute;
                                                left: 0;
                                                top: 0;
                                                width: 60px;
                                                border-radius: 50%;
                                                overflow: hidden;
                                            }

                                            .name {
                                                font-size: 16px;
                                                color: rgb(33, 38, 57);
                                                font-weight: 500;
                                                line-height: 1.2em;
                                            }

                                            .designation {
                                                font-size: 13px;
                                            }
                                        }

                                        h4 {
                                            position: relative;
                                            font-size: 22px;
                                            line-height: 1.2em;
                                            color: rgb(15, 25, 37);
                                            font-weight: 600;
                                            margin-bottom: 15px;
                                            padding-top: 15px;

                                            a {
                                                color: rgb(33, 38, 57);
                                                display: inline-block;
                                                -webkit-transition: all 300ms ease;
                                                -moz-transition: all 300ms ease;
                                                -ms-transition: all 300ms ease;
                                                -o-transition: all 300ms ease;
                                                transition: all 300ms ease;
                                            }
                                        }

                                        .text {
                                            position: relative;
                                            font-size: 16px;
                                            line-height: 26px;
                                            color: rgb(136, 136, 136);
                                            margin-bottom: 15px;
                                        }

                                        .btn-box {
                                            position: relative;
                                            padding: 6px 0;

                                            a {
                                                padding: 10px 20px;
                                                line-height: 20px;
                                                font-size: 14px;
                                                background-color: rgb(68, 68, 68);
                                                color: rgb(255, 255, 255);
                                                border-top: 2px solid rgba(0, 0, 0, 0);
                                                border-bottom: 2px solid rgba(0, 0, 0, 0);
                                                border-radius: 5px;
                                            }
                                        }

                                        :after {
                                            position: absolute;
                                            right: 100%;
                                            top: 35px;
                                            border-top: 15px solid rgba(0, 0, 0, 0);
                                            border-right: 20px solid rgb(255, 255, 255);
                                            border-bottom: 15px solid rgba(0, 0, 0, 0);
                                            content: "";
                                        }
                                    }
                                }

                                .even {
                                    .inner-box {
                                        float: left;
                                        text-align: right;

                                        .inner {
                                            position: relative;
                                            padding: 20px 30px 20px;
                                            background-color: rgb(255, 255, 255);
                                            border: 1px solid rgb(221, 221, 221);
                                            box-shadow: 0 0 30px rgba(0, 0, 0, 0.05);
                                            border-radius: 20px;
                                            margin-left: 0;
                                            margin-right: 80px;

                                            &:before {
                                                position: absolute;
                                                top: 0;
                                                bottom: -30px;
                                                border-left: 2px dashed rgb(221, 221, 221);
                                                content: "";
                                                margin-right: 80px;
                                                right: auto;
                                                left: 100%;
                                                margin-left: 80px;
                                            }

                                            .date {
                                                position: absolute;
                                                left: -132px;
                                                width: 100px;
                                                top: 0;
                                                height: 100px;
                                                background-color: rgb(255, 255, 255);
                                                text-align: center;
                                                font-size: 14px;
                                                line-height: 18px;
                                                color: rgb(33, 38, 57);
                                                font-weight: 500;
                                                padding: 30px 15px 0;
                                                border-radius: 50%;
                                                border: 2px dashed rgb(221, 221, 221);
                                                box-shadow: 0 0 30px rgba(0, 0, 0, 0.05);
                                            }

                                            .speaker-info {
                                                position: relative;
                                                padding-top: 10px;
                                                min-height: 60px;
                                                padding-left: 0;
                                                padding-right: 80px;

                                                .thumb {
                                                    position: absolute;
                                                    top: 0;
                                                    width: 60px;
                                                    border-radius: 50%;
                                                    overflow: hidden;
                                                    left: auto;
                                                    right: 0;

                                                    img {
                                                        display: inline-block;
                                                        max-width: 100%;
                                                        height: auto;
                                                    }
                                                }

                                                .name {
                                                    font-size: 16px;
                                                    color: rgb(33, 38, 57);
                                                    font-weight: 500;
                                                    line-height: 1.2em;
                                                }

                                                .designation {
                                                    font-size: 13px;
                                                }
                                            }

                                            h4 {
                                                position: relative;
                                                font-size: 22px;
                                                line-height: 1.2em;
                                                color: rgb(15, 25, 37);
                                                font-weight: 600;
                                                margin-bottom: 15px;
                                                padding-top: 15px;

                                                a {
                                                    color: rgb(33, 38, 57);
                                                    display: inline-block;
                                                    -webkit-transition: all 300ms ease;
                                                    -moz-transition: all 300ms ease;
                                                    -ms-transition: all 300ms ease;
                                                    -o-transition: all 300ms ease;
                                                    transition: all 300ms ease;
                                                }
                                            }

                                            .text {
                                                position: relative;
                                                font-size: 16px;
                                                line-height: 26px;
                                                color: rgb(136, 136, 136);
                                                margin-bottom: 15px;
                                            }

                                            .btn-box {
                                                position: relative;
                                                padding: 6px 0;

                                                a {
                                                    padding: 10px 20px;
                                                    line-height: 20px;
                                                    font-size: 14px;
                                                    background-color: rgb(68, 68, 68);
                                                    color: rgb(255, 255, 255);
                                                    border-top: 2px solid rgba(0, 0, 0, 0);
                                                    border-bottom: 2px solid rgba(0, 0, 0, 0);
                                                    border-radius: 5px;
                                                }

                                                &:after {
                                                    position: absolute;
                                                    right: 100%;
                                                    top: 35px;
                                                    border-top: 15px solid rgba(0, 0, 0, 0);
                                                    border-right: 20px solid rgb(255, 255, 255);
                                                    border-bottom: 15px solid rgba(0, 0, 0, 0);
                                                    content: "";
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
