.bil-video-section{
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 120px 0 140px;
    background-attachment: fixed;
    &:before {
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        background: rgb(247,0,104);
        background: -moz-linear-gradient(to left, rgba(247,0,104,1) 0%, rgba(68,16,102,1) 100%);
        background: -webkit-linear-gradient(to left, rgba(247,0,104,1) 0%, rgba(68,16,102,1) 100%);
        background: linear-gradient(to left, rgba(247,0,104) 0%,rgb(68, 16, 102) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#F70068', endColorstr='#441066',GradientType=1 );
        opacity: .70;
        content: "";
    }
    .auto-container {
        position: static;
        max-width: 1200px;
        padding: 0px 15px;
        margin: 0 auto;
        .content-box {
            position: relative;
            text-align: center;
            .text {
                position: relative;
                display: block;
                font-size: 18px;
                line-height: 26px;
                color: rgb(255, 188, 0);
                font-weight: 500;
                text-transform: uppercase;
                margin-bottom: 15px;
            }
            h2 {
                display: block;
                font-size: 48px;
                line-height: 1.2em;
                color: rgb(255, 255, 255);
                font-weight: 700;
            }
            .play-now {
                position: relative;
                display: inline-block;
                margin-top: 50px;
                .icon {
                    position: relative;
                    height: 100px;
                    width: 100px;
                    text-align: center;
                    line-height: 100px;
                    background-color: rgb(255, 188, 0);
                    padding-left: 0;
                    font-size: 50px;
                    display: block;
                    color: rgb(255, 255, 255);
                    z-index: 1;
                    box-shadow: 0 0px 10px 0 rgba(255, 255, 255, .3);
                    border-radius: 50%;
                    transform-origin: center;
                }
                .ripple{
                    &:after{
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        height: 70px;
                        width: 70px;
                        -webkit-transform: translate(-50%, -50%);
                        -moz-transform: translate(-50%, -50%);
                        -ms-transform: translate(-50%, -50%);
                        -o-transform: translate(-50%, -50%);
                        transform: translate(-50%, -50%);
                        -webkit-border-radius: 50%;
                        -moz-border-radius: 50%;
                        -ms-border-radius: 50%;
                        -o-border-radius: 50%;
                        border-radius: 50%;
                        -webkit-box-shadow: 0 0 0 0 rgba(255, 255, 255, .6);
                        -moz-box-shadow: 0 0 0 0 rgba(255, 255, 255, .6);
                        -ms-box-shadow: 0 0 0 0 rgba(255, 255, 255, .6);
                        -o-box-shadow: 0 0 0 0 rgba(255, 255, 255, .6);
                        box-shadow: 0 0 0 0 rgba(255, 255, 255, .6);
                        -webkit-animation: ripple 3s infinite;
                        -moz-animation: ripple 3s infinite;
                        -ms-animation: ripple 3s infinite;
                        -o-animation: ripple 3s infinite;
                        animation: ripple 3s infinite;
                    }
                    &:before {
                        -webkit-animation-delay: .9s;
                        -moz-animation-delay: .9s;
                        -ms-animation-delay: .9s;
                        -o-animation-delay: .9s;
                        animation-delay: .9s;
                        content: "";
                        position: absolute;
                        transform: translate(-50%, -50%);
                        box-shadow: 0 0 0 0 rgba(255, 255, 255, .6);
                        animation: ripple 3s infinite;
                        top: 50%;
                        left: 50%;
                        height: 70px;
                        width: 70px;
                    }
                }
            }
        }

    }
}
