.bil-why-choose-us {
    position: relative;
    background-color: rgb(250, 250, 250);
    padding: 120px 0 70px;
    .auto-container {
        position: static;
        max-width: 1200px;
        padding: 0px 15px;
        margin: 0 auto;
        .row {
            display: -ms-flexbox;
            display: flex;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
            margin-right: -15px;
            margin-left: -15px;
            .content-column {
                position: relative;
                margin-bottom: 50px;
                .inner-column {
                    position: relative;
                    padding-top: 20px;
                    .sec-title {
                        position: relative;
                        margin-bottom: 30px;
                        .title {
                            position: relative;
                            display: block;
                            font-size: 16px;
                            line-height: 1em;
                            color: rgb(255, 138, 1);
                            font-weight: 500;
                            background: rgb(247,0,104);
                            background: -moz-linear-gradient(to left, rgba(247,0,104,1) 0%, rgba(68,16,102,1) 25%, rgba(247,0,104,1) 75%, rgba(68,16,102,1) 100%);
                            background: -webkit-linear-gradient(to left, rgba(247,0,104,1) 0%,rgba(68,16,102,1) 25%,rgba(247,0,104,1) 75%,rgba(68,16,102,1) 100%);
                            background: linear-gradient(to left, rgba(247,0,104) 0%,rgb(68, 16, 102) 25%,rgb(247, 0, 104) 75%,rgb(68, 16, 102) 100%);
                            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#F70068', endColorstr='#441066',GradientType=1 );
                            color: rgba(0, 0, 0, 0);
                            -webkit-background-clip: text;
                            -webkit-text-fill-color: rgba(0, 0, 0, 0);
                            text-transform: uppercase;
                            letter-spacing: 5px;
                            margin-bottom: 15px;
                        }
                        h2 {
                            position: relative;
                            display: inline-block;
                            font-size: 48px;
                            line-height: 1.2em;
                            color: rgb(30, 31, 54);
                            font-weight: 700;
                        }
                        .text {
                            position: relative;
                            font-size: 16px;
                            line-height: 28px;
                            color: rgb(136, 136, 136);
                            margin-top: 30px;
                        }
                    }
                    .list-style-one {
                        position: relative;
                        margin-bottom: 30px;
                        .li {
                            position: relative;
                            font-size: 16px;
                            line-height: 26px;
                            color: rgb(68, 68, 68);
                            font-weight: 400;
                            padding-left: 35px;
                            margin-bottom: 10px;
                            &:before {
                                position: absolute;
                                left: 0;
                                top: 0;
                                font-size: 16px;
                                content: "\52";
                                font-family: 'ElegantIcons';
                                color: rgb(225, 19, 123);
                            }
                        }
                    }
                }
            }
            .image-column {
                position: relative;
                margin-bottom: 50px;
                .image-box {
                    position: relative;
                    .image {
                        position: relative;
                        margin-bottom: 0;
                        img {
                            display: block;
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}
