.bil-footer{
    position: relative;
    background-color: rgb(16, 17, 48);
    background-image: url(../images/background/9.jpg);
    .widgets-section {
        position: relative;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        padding: 120px 0 50px;
        .auto-container {
            position: static;
            max-width: 1200px;
            padding: 0 15px;
            margin: 0 auto;
            .row {
                display: -ms-flexbox;
                display: flex;
                -ms-flex-wrap: wrap;
                flex-wrap: wrap;
                margin-right: -15px;
                margin-left: -15px;
                .big-column{
                    .row {
                        display: -webkit-box;
                        display: flex;
                        flex-wrap: wrap;
                        margin-right: -15px;
                        margin-left: -15px;
                        .footer-column{
                            .about-widget {
                                position: relative;
                                .logo{
                                    position: relative;
                                    margin-bottom: 5px;
                                    top: -20px;
                                }
                                .text{
                                    position: relative;
                                    margin-bottom: 30px;
                                    .text p {
                                        font-size: 14px;
                                        line-height: 24px;
                                        color: rgb(170, 170, 170);
                                        font-weight: 400;
                                        margin-bottom: 30px;
                                    }
                                }
                                .social-icon-one{
                                    position: relative;
                                    li {
                                        position: relative;
                                        display: inline-block;
                                        margin-right: 8px;
                                        margin-bottom: 10px;
                                        .fab {
                                            position: relative;
                                            display: block;
                                            height: 40px;
                                            width: 40px;
                                            line-height: 40px;
                                            text-align: center;
                                            font-size: 16px;
                                            color: rgb(169, 177, 191);
                                            background-color: rgb(55, 56, 81);
                                            transition: all 900ms ease;
                                            -moz-transition: all 900ms ease;
                                            -webkit-transition: all 900ms ease;
                                            -ms-transition: all 900ms ease;
                                            -o-transition: all 900ms ease;
                                        }
                                    }
                                }
                            }
                            .useful-links {
                                position: relative;
                                padding-left: 50px;
                                .widget-title {
                                    position: relative;
                                    font-size: 24px;
                                    font-weight: 500;
                                    color: rgb(255, 255, 255);
                                    line-height: 30px;
                                    padding-bottom: 10px;
                                    margin-bottom: 30px;
                                    &:before {
                                        position: absolute;
                                        left: 0;
                                        bottom: 0;
                                        height: 1px;
                                        width: 40px;
                                        background-color: rgb(247, 0, 104);
                                        content: '';
                                    }
                                }
                                .user-links{
                                    li {
                                        position: relative;
                                        display: block;
                                        margin-bottom: 5px;
                                        a {
                                            position: relative;
                                            display: block;
                                            font-size: 14px;
                                            line-height: 30px;
                                            color: rgb(255, 255, 255);
                                            font-weight: 400;
                                            padding: 0 15px;
                                            border-left: 1px solid rgb(247, 0, 104);
                                            -webkit-transition: all 300ms ease;
                                            -moz-transition: all 300ms ease;
                                            -ms-transition: all 300ms ease;
                                            -o-transition: all 300ms ease;
                                            transition: all 300ms ease;
                                        }
                                    }
                                }
                            }
                            .footer-widget {
                                position: relative;
                                .widget-title {
                                    position: relative;
                                    font-size: 24px;
                                    font-weight: 500;
                                    color: rgb(255, 255, 255);
                                    line-height: 30px;
                                    padding-bottom: 10px;
                                    margin-bottom: 30px;
                                    &:before {
                                        position: absolute;
                                        left: 0;
                                        bottom: 0;
                                        height: 1px;
                                        width: 40px;
                                        background-color: rgb(247, 0, 104);
                                        content: '';
                                    }
                                }
                                .widget-content{
                                    .contact-list {
                                        position: relative;
                                        li {
                                            position: relative;
                                            padding-left: 40px;
                                            margin-bottom: 25px;
                                            .icon {
                                                position: absolute;
                                                left: 0;
                                                top: 0;
                                                font-size: 23px;
                                                line-height: 25px;
                                                color: rgb(255, 255, 255);
                                            }
                                            .text {
                                                display: block;
                                                font-size: 14px;
                                                line-height: 24px;
                                                color: rgb(255, 255, 255);
                                                font-weight: 400;
                                            }
                                        }
                                    }
                                }
                            }
                            .instagram-widget {
                                position: relative;
                                .widget-title {
                                    position: relative;
                                    font-size: 24px;
                                    font-weight: 500;
                                    color: rgb(255, 255, 255);
                                    line-height: 30px;
                                    padding-bottom: 10px;
                                    margin-bottom: 30px;
                                    &:before {
                                        position: absolute;
                                        left: 0;
                                        bottom: 0;
                                        height: 1px;
                                        width: 40px;
                                        background-color: rgb(247, 0, 104);
                                        content: '';
                                    }
                                }
                                .widget-content{
                                    .outer {
                                        position: relative;
                                        margin: 0px -5px 0;
                                        .image {
                                            position: relative;
                                            float: left;
                                            width: 33.3333%;
                                            padding: 0px 4px;
                                            margin-bottom: 10px;
                                            a {
                                                position: relative;
                                                display: block;
                                                &:before {
                                                    position: absolute;
                                                    left: 0;
                                                    top: 0;
                                                    height: 100%;
                                                    width: 100%;
                                                    background: rgb(255, 255, 255);
                                                    padding: 5px;
                                                    opacity: .70;
                                                    content: "";
                                                    -webkit-transform: scale(0);
                                                    -moz-transform: scale(0);
                                                    -ms-transform: scale(0);
                                                    -o-transform: scale(0);
                                                    transform: scale(0);
                                                    -webkit-transition: all 300ms ease;
                                                    -moz-transition: all 300ms ease;
                                                    -ms-transition: all 300ms ease;
                                                    -o-transition: all 300ms ease;
                                                    transition: all 300ms ease;
                                                }
                                                &:after {
                                                    position: absolute;
                                                    height: 20px;
                                                    width: 20px;
                                                    left: 50%;
                                                    top: 50%;
                                                    margin-left: -10px;
                                                    margin-top: -10px;
                                                    text-align: center;
                                                    line-height: 20px;
                                                    font-size: 18px;
                                                    color: rgb(247, 0, 104);
                                                    font-weight: 900;
                                                    content: "\f0c1";
                                                    font-family: "Font Awesome 5 Free";
                                                    -webkit-transform: scale(0);
                                                    -moz-transform: scale(0);
                                                    -ms-transform: scale(0);
                                                    -o-transform: scale(0);
                                                    transform: scale(0);
                                                    -webkit-transition: all 300ms ease;
                                                    -moz-transition: all 300ms ease;
                                                    -ms-transition: all 300ms ease;
                                                    -o-transition: all 300ms ease;
                                                    transition: all 300ms ease;
                                                }
                                                img {
                                                    display: block;
                                                    width: 100%;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .footer-bottom {
        position: relative;
        width: 100%;
        background-color: rgba(255,255,255,.10);
        text-align: center;
        .auto-container {
            position: static;
            max-width: 1200px;
            padding: 0   15px;
            margin: 0 auto;
            .inner-container {
                position: relative;
                .copyright-text {
                    position: relative;
                    padding: 20px 0;
                    p {
                        position: relative;
                        line-height: 20px;
                        font-size: 16px;
                        color: rgb(255, 255, 255);
                        font-weight: 400;
                        margin-bottom: 0;
                        a {
                            color: rgb(255, 255, 255);
                            font-weight: 600;
                            text-decoration: underline;
                            -webkit-transition: all 300ms ease;
                            -moz-transition: all 300ms ease;
                            -ms-transition: all 300ms ease;
                            -o-transition: all 300ms ease;
                            transition: all 300ms ease;
                        }
                    }
                }
            }
        }
    }
}
