.bil-fun-fact-section{
    position: relative;
    padding: 100px 0 50px;
    &:before {
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        background-image: url(../images/icons/pattern-1.jpg);
        content: "";
        opacity: .10;
    }
    .auto-container {
        position: static;
        max-width: 1200px;
        padding: 0px 15px;
        margin: 0 auto;
        .fact-counter {
            position: relative;
            .counter-column {
                position: relative;
                text-align: center;
                margin-bottom: 50px;
                .count-box {
                    position: relative;
                    font-size: 80px;
                    line-height: 1em;
                    color: rgb(34, 34, 34);
                    font-weight: 700;
                    .icon {
                        background-color: rgb(64, 203, 180);
                        position: relative;
                        display: inline-block;
                        font-size: 60px;
                        color: rgb(255, 255, 255);
                        margin-bottom: 20px;
                        height: 120px;
                        width: 120px;
                        line-height: 120px;
                        border-radius: 50%;
                        font-weight: 400;
                        -webkit-transition: all 600ms ease;
                        -ms-transition: all 600ms ease;
                        -o-transition: all 600ms ease;
                        -moz-transition: all 600ms ease;
                        transition: all 600ms ease;
                        box-shadow: 5px 10px 30px rgba(0,0,0,0.10);
                    }
                    .count-text {
                        position: relative;
                        display: block;
                        font-size: 60px;
                        line-height: 1em;
                        color: rgb(21, 33, 47);
                        text-shadow: 10px 10px 10px rgba(0,0,0,0.10);
                        font-weight: 600;
                        margin-bottom: 10px;
                    }
                    .counter-title {
                        position: relative;
                        display: block;
                        font-size: 18px;
                        line-height: 22px;
                        font-weight: 700;
                        color: rgb(34, 34, 34);
                    }
                }
            }
        }
    }
}
