.bill-speakers-section{
    position: relative;
    padding: 120px 0 90px;
    &:before {
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        background-color: rgba(28,139,210,.50);
        content: "";
    }
    .auto-container {
        position: static;
        max-width: 1200px;
        padding: 0px 15px;
        margin: 0 auto;
        .sec-title {
            position: relative;
            margin-bottom: 70px;
            .title {
                color: rgb(255, 255, 255);
                -webkit-text-fill-color: inherit;
                position: relative;
                display: block;
                font-size: 16px;
                line-height: 1em;
                font-weight: 500;
                background: rgb(247,0,104);
                background: -moz-linear-gradient(to left, rgba(247,0,104,1) 0%, rgba(68,16,102,1) 25%, rgba(247,0,104,1) 75%, rgba(68,16,102,1) 100%);
                background: -webkit-linear-gradient(to left, rgba(247,0,104,1) 0%,rgba(68,16,102,1) 25%,rgba(247,0,104,1) 75%,rgba(68,16,102,1) 100%);
                background: linear-gradient(to left, rgba(247,0,104) 0%,rgb(68, 16, 102) 25%,rgb(247, 0, 104) 75%,rgb(68, 16, 102) 100%);
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#F70068', endColorstr='#441066',GradientType=1 );
                -webkit-background-clip: text;
                -webkit-text-fill-color: rgba(0, 0, 0, 0);
                text-transform: uppercase;
                letter-spacing: 5px;
                margin-bottom: 15px;
            }
            h2 {
                position: relative;
                display: inline-block;
                font-size: 48px;
                line-height: 1.2em;
                color: rgb(30, 31, 54);
                font-weight: 700;
            }
        }
        .speaker-block {
            position: relative;
            margin-bottom: 40px;
            .inner-box {
                position: relative;
                overflow: hidden;
                border-radius: 50%;
                border: 10px solid rgb(255, 255, 255);
                box-shadow: 0 30px 30px rgba(0,0,0,0.40);
                max-width: 300px;
                margin: 0 auto;
                -webkit-transition: all 300ms ease;
                -moz-transition: all 300ms ease;
                -ms-transition: all 300ms ease;
                -o-transition: all 300ms ease;
                transition: all 500ms ease;
                .image-box {
                    position: relative;
                    .image {
                        position: relative;
                        margin-bottom: 0;
                        img {
                            display: block;
                            width: 100%;
                            -webkit-transition: all 300ms ease;
                            -moz-transition: all 300ms ease;
                            -ms-transition: all 300ms ease;
                            -o-transition: all 300ms ease;
                            transition: all 300ms ease;
                        }
                    }
                }
                .info-box{
                    position: absolute;
                    left: 0px;
                    top: 0px;
                    right: 0px;
                    bottom: 0px;
                    text-align: center;
                    background-color: rgba(28,139,210,.70);
                    background-color: rgba(237,23,127,.90);
                    -webkit-transition: -webkit-transform 0.4s ease;
                    transition: -webkit-transform 0.4s ease;
                    transition: transform 0.4s ease;
                    transition: transform 0.4s ease, -webkit-transform 0.4s ease;
                    -webkit-transform: scale(0, 1);
                    -ms-transform: scale(0, 1);
                    transform: scale(0, 1);
                    -webkit-transform-origin: right center;
                    -ms-transform-origin: right center;
                    transform-origin: right center;
                    .inner {
                        position: absolute;
                        left: 0;
                        width: 100%;
                        top: 50%;
                        -webkit-transform: translateY(-50%);
                        -moz-transform: translateY(-50%);
                        -ms-transform: translateY(-50%);
                        -o-transform: translateY(-50%);
                        transform: translateY(-50%);
                        padding: 0 40px;
                        .name {
                            position: relative;
                            display: block;
                            font-size: 22px;
                            line-height: 1.2em;
                            color: rgb(255, 255, 255);
                            font-weight: 700;
                            opacity: 0;
                            margin-bottom: 5px;
                            -webkit-transform: translateY(20px);
                            -moz-transform: translateY(20px);
                            -ms-transform: translateY(20px);
                            -o-transform: translateY(20px);
                            transform: translateY(20px);
                            -webkit-transition: all 400ms ease;
                            -moz-transition: all 400ms ease;
                            -ms-transition: all 400ms ease;
                            -o-transition: all 400ms ease;
                            transition: all 300ms ease;
                            a {
                                color: rgb(255, 255, 255);
                                -webkit-transition: all 300ms ease;
                                -moz-transition: all 300ms ease;
                                -ms-transition: all 300ms ease;
                                -o-transition: all 300ms ease;
                                transition: all 300ms ease;
                            }
                        }
                        .designation {
                            position: relative;
                            display: block;
                            font-size: 13px;
                            line-height: 30px;
                            color: rgb(255, 255, 255);
                            font-weight: 400;
                            margin-bottom: 15px;
                            opacity: 0;
                            -webkit-transform: translateY(20px);
                            -moz-transform: translateY(20px);
                            -ms-transform: translateY(20px);
                            -o-transform: translateY(20px);
                            transform: translateY(20px);
                            -webkit-transition: all 400ms ease;
                            -moz-transition: all 400ms ease;
                            -ms-transition: all 400ms ease;
                            -o-transition: all 400ms ease;
                            transition: all 300ms ease;
                        }
                        .social-links {
                            position: relative;
                            opacity: 0;
                            -webkit-transform: translateY(20px);
                            -moz-transform: translateY(20px);
                            -ms-transform: translateY(20px);
                            -o-transform: translateY(20px);
                            transform: translateY(20px);
                            -webkit-transition: all 400ms ease;
                            -moz-transition: all 400ms ease;
                            -ms-transition: all 400ms ease;
                            -o-transition: all 400ms ease;
                            transition: all 300ms ease;
                            li {
                                position: relative;
                                display: inline-block;
                                margin-bottom: 10px;
                                i {
                                    position: relative;
                                    display: block;
                                    width: 32px;
                                    height: 32px;
                                    font-size: 16px;
                                    line-height: 30px;
                                    background-color: rgb(255, 255, 255);
                                    text-align: center;
                                    -webkit-transition: all 300ms ease;
                                    -moz-transition: all 300ms ease;
                                    -ms-transition: all 300ms ease;
                                    -o-transition: all 300ms ease;
                                    transition: all 300ms ease;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
