.bil-pricing-section{
    position: relative;
    padding: 120px 0 80px;
    overflow: hidden;
    .anim-icons {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        height: 100%;
        width: 100%;
        max-width: 1170px;
        margin: 0 auto;
        .icon {
            position: absolute;
            background-position: center;
            background-repeat: no-repeat;
            .icon-circle-green {
                left: -375px;
                top: -50px;
                opacity: .50;
                animation: fa-spin 30s infinite;
            }
            .icon-circle-blue {
                right: -375px;
                top: 50%;
                opacity: .50;
            }
            .icon-circle-pink {
                left: -375px;
                bottom: -100px;
                opacity: .50;
            }
        }
    }
    .auto-container {
        position: static;
        max-width: 1200px;
        padding: 0px 15px;
        margin: 0 auto;
        .sec-title {
            position: relative;
            margin-bottom: 70px;
            .text-center {
                text-align: center!important;
                .title {
                    position: relative;
                    display: block;
                    font-size: 16px;
                    line-height: 1em;
                    color: rgb(255, 138, 1);
                    font-weight: 500;
                    background: rgb(247,0,104);
                    background: -moz-linear-gradient(to left, rgba(247,0,104,1) 0%, rgba(68,16,102,1) 25%, rgba(247,0,104,1) 75%, rgba(68,16,102,1) 100%);
                    background: -webkit-linear-gradient(to left, rgba(247,0,104,1) 0%,rgba(68,16,102,1) 25%,rgba(247,0,104,1) 75%,rgba(68,16,102,1) 100%);
                    background: linear-gradient(to left, rgba(247,0,104) 0%,rgb(68, 16, 102) 25%,rgb(247, 0, 104) 75%,rgb(68, 16, 102) 100%);
                    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#F70068', endColorstr='#441066',GradientType=1 );
                    color: rgba(0, 0, 0, 0);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: rgba(0, 0, 0, 0);
                    text-transform: uppercase;
                    letter-spacing: 5px;
                    margin-bottom: 15px;
                }
                h2 {
                    position: relative;
                    display: inline-block;
                    font-size: 48px;
                    line-height: 1.2em;
                    color: rgb(30, 31, 54);
                    font-weight: 700;
                }
            }
        }
        .outer-box {
            max-width: 1100px;
            margin: 0 auto;
            .outer-box {
                max-width: 1100px;
                margin: 0 auto;
                .row {
                    margin: 0 -30px;
                    .pricing-block {
                        position: relative;
                        padding: 0 30px;
                        margin-bottom: 40px;
                        .inner-box {
                            position: relative;
                            background-color: rgb(255, 255, 255);
                            box-shadow: 0 20px 40px rgba(0,0,0,0.08);
                            padding: 0 0 30px;
                            max-width: 370px;
                            margin: 0 auto;
                            border-bottom: 20px solid rgb(64, 203, 180);
                            .icon-box {
                                position: relative;
                                padding: 50px 30px 0;
                                background-color: rgb(64, 203, 180);
                                text-align: center;
                                &:before {
                                    position: absolute;
                                    left: 0;
                                    bottom: 0;
                                    height: 75px;
                                    width: 100%;
                                    border-radius: 50% 50% 0 0;
                                    background-color: rgb(255, 255, 255);
                                    content: "";
                                }
                                .icon-outer {
                                    position: relative;
                                    height: 150px;
                                    width: 150px;
                                    background-color: rgb(255, 255, 255);
                                    border-radius: 50%;
                                    margin: 0 auto;
                                    padding: 10px;
                                    .icon {
                                        position: relative;
                                        display: block;
                                        height: 130px;
                                        width: 130px;
                                        line-height: 120px;
                                        border: 5px solid rgb(64, 203, 180);
                                        border-radius: 50%;
                                        font-size: 70px;
                                        color: rgb(64, 203, 180);
                                        -webkit-transition: all 600ms ease;
                                        -ms-transition: all 600ms ease;
                                        -o-transition: all 600ms ease;
                                        -moz-transition: all 600ms ease;
                                        transition: all 600ms ease;
                                    }
                                }
                            }
                            .price-box {
                                position: relative;
                                text-align: center;
                                padding: 10px 20px;
                                .title {
                                    position: relative;
                                    display: block;
                                    font-size: 24px;
                                    line-height: 1.2em;
                                    color: rgb(34, 34, 34);
                                    font-weight: 600;
                                }
                                .price {
                                    display: block;
                                    font-size: 30px;
                                    color: rgb(34, 34, 34);
                                    font-weight: 700;
                                    color: rgb(64, 203, 180);
                                }
                            }
                            .features {
                                position: relative;
                                max-width: 200px;
                                margin: 0 auto 20px;
                                li {
                                    position: relative;
                                    display: block;
                                    font-size: 14px;
                                    line-height: 30px;
                                    color: rgb(132, 132, 132);
                                    font-weight: 500;
                                    padding: 5px 0;
                                    padding-left: 30px;
                                    border-bottom: 1px dashed rgb(221, 221, 221);
                                    &:before {
                                        position: absolute;
                                        left: 0;
                                        top: 5px;
                                        font-size: 16px;
                                        line-height: 30px;
                                        content: "\52";
                                        font-family: 'ElegantIcons';
                                        color: rgb(43, 212, 15);
                                    }
                                }
                            }
                            .btn-box {
                                position: relative;
                                text-align: center;
                                a {
                                    position: relative;
                                    display: inline-block;
                                    font-size: 14px;
                                    line-height: 25px;
                                    color: rgb(255, 255, 255);
                                    font-weight: 500;
                                    padding: 8px 30px;
                                    background-color: rgb(64, 203, 180);
                                    border-radius: 10px;
                                    border-top: 2px solid rgba(0, 0, 0, 0);
                                    border-bottom: 2px solid rgba(0, 0, 0, 0);
                                    -webkit-transition: all 400ms ease;
                                    -moz-transition: all 400ms ease;
                                    -ms-transition: all 400ms ease;
                                    -o-transition: all 400ms ease;
                                    transition: all 300ms ease;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
