ul, li {
    list-style: none;
    padding: 0;
    margin: 0;
}
button, a:hover, a:focus, a:visited {
    text-decoration: none;
    outline: none !important;
}
a:focus, a:hover, a:visited, button {
    text-decoration: none;
    outline: none!important;
}
/* Import custom*/
@import "custom";
/* Import header*/
@import "header";

a {
    text-decoration: none;
    cursor: pointer;
    color: rgb(242, 4, 135);
}
img {
    display: inline-block;
    max-width: 100%;
    height: auto;
}
* {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
}
body {
    font-size: 14px;
    color: rgb(119, 119, 119);
    line-height: 1.7em;
    font-weight: 400;
    background: rgb(255, 255, 255);
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    font-family: 'Poppins', sans-serif;
}
.bill-btn-box {
    position: relative;
    float: right;
    padding: 5px 0;
    margin-left: 20px;

    a {
        position: relative;
        float: right;
        padding: 10px 20px;
        line-height: 20px;
        font-size: 14px;

        .theme-btn {
            position: relative;
            transition: all 300ms ease;
            display: inline-block;
            -webkit-transition: all 0.3s ease;
            -moz-transition: all 0.3s ease;
            -ms-transition: all 0.3s ease;
            -o-transition: all 0.3s ease;
            transition: all 0.3s ease;

            .btn-style-one {
                position: relative;
                padding: 10px 30px;
                font-size: 16px;
                line-height: 30px;
                color: rgb(255, 255, 255);
                font-weight: 400;
                text-align: center;
                background-color: rgb(0, 123, 255);
                overflow: hidden;
                border-radius: 10px;

                &:before {
                    position: absolute;
                    left: 0;
                    top: 0;
                    height: 100%;
                    width: 100%;
                    content: "";
                    background-color: rgb(255, 255, 255);
                    -webkit-transform: scale(0, 1);
                    -ms-transform: scale(0, 1);
                    transform: scale(0, 1);
                    -webkit-transform-origin: top right;
                    -ms-transform-origin: top right;
                    transform-origin: top right;
                    -webkit-transition: transform 500ms cubic-bezier(0.860, 0.000, 0.070, 1.000);
                    -moz-transition: transform 500ms cubic-bezier(0.860, 0.000, 0.070, 1.000);
                    -o-transition: transform 500ms cubic-bezier(0.860, 0.000, 0.070, 1.000);
                    transition: transform 500ms cubic-bezier(0.860, 0.000, 0.070, 1.000);
                    -webkit-transition-timing-function: cubic-bezier(0.860, 0.000, 0.070, 1.000);
                    -moz-transition-timing-function: cubic-bezier(0.860, 0.000, 0.070, 1.000);
                    -o-transition-timing-function: cubic-bezier(0.860, 0.000, 0.070, 1.000);
                    transition-timing-function: cubic-bezier(0.860, 0.000, 0.070, 1.000);
                }

                .btn-style-one .btn-title {
                    position: relative;
                }
            }
        }
    }
}

/*Import Banner*/
@import "banner";

/*Import FunFact*/
@import "funfact";

/*Import Schedule*/
@import "schedule";

/*Import Pricing*/
@import "pricing";

/*Import Video*/
@import "video";

/*Import Why Choose*/
@import "whychoose";

/* Import Client Section*/
@import "client";

/* Import Footer*/
@import "footer";


